* {
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
  }


#hero{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#mePic {
    margin: 0px;
    padding: 0px;
    height: 225px;
    border-radius: 220px;
}

#mainpic {
    display: inline-block;
    width: 60%;
    margin: 0px;
    padding-top: 2.5%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
 
}
#header {
    text-align: center;
    padding: 5px;
    background-color: darkcyan;
    color: white;
    border-radius: 5%;

}
#about-me {    
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FAE1F2;
    border-width: 10px;
    border-color: black;
    color: darkcyan;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 5%;
}

section .collapse {
  display: none;
}

section a {
  color: darkcyan;
}

section a:hover {

   color: black;
}

section:target .collapse {
  display: block;
}

.projectPic {
    display: inline-block;
    width: 300px;
    padding: 0%;
    margin: 0px;
    border: solid black 1px;
}

.project-desc {
    text-align: left;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 25px;
}

section {
    padding: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;    
    font-size: 18px;
}

.project-list {
    text-align: center;
    background-color: #D4F9FA;
    color: darkcyan;
    padding: 5%;
    border-radius: 5%;
}

.contact-info {
    background-color: darkcyan;
    color: white;
    border-radius: 5%;

}

.contact {
  color: white;
}

.projectLinks {
  text-align: center;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
}

nav {
    font-size: 16px;
}

footer {
  text-align: center;
}

.contact-info {
  text-align: center;
}

h2, h3, h4 {
  text-align: center;
}

button {
  height: 25px;
  font-size: 18px;
  background-color: #FAE1F2;
}

#projectScroll {
  border: solid 1px darkcyan;
  border-radius: 5%;
}





@media only screen and (min-width: 640px){



header {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: left;
    padding: 0px;

}

body {
    margin-left: 5%;
    margin-right: 5%;

}

section {  
    font-size: 26px; 
}

#mainpic{
    width: 30%;
    display: inline-block;
    margin-left: 0;
} 
#hero {
      display: inline-block;
      margin: 0%;
      padding-top: 0%;
      font-size: 40px;
      
  }



/*#43797A;*/

}